*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1230px;
    padding: 0 30px;
    width: 100%;
    margin: 0 auto;
}

.testDiv {
    color: #eb5a55;
    font-size: 40px;
}

.add-worker a{
   text-decoration: none;
    color: black;
    font-weight: bold;
}

.add-worker {
    border: 2px solid black;
    padding: 20px;
    margin-top: 50px;
    width: 200px;
    text-align: center;
}

.add-worker:hover {
    background-color: #EBEBEB;
}

#projectMembers {
    margin-bottom: 15px;
    margin-top: 15px;
    /*margin-left: 32px;*/
}

.separator-line {
    background-color: black;
    height: 1px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.img-yes {
    text-align: center;
    height: 200px;
}

.images {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

nav {
    background-color: #555555;
    margin-bottom: 90px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: white;
}

nav ul li {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

button {
    background-color: #eb5a55;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

form {
    width: 50%;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

h1 {
    padding-bottom: 20px;
}

.nav2 {
    margin-bottom: 30px;
}

.returntomainpage {
    color: #eb5a55;
}